@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 713px;
	height: 550px;
}

.bg-modal {
	position: absolute;
	width: 713px;
	height: 175px;
	border-radius: 30px;
	background: #CD8AFF;
}

.top-modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 32px 32px 46px 72px;
	width: 550px;
	height: 297px;
	border-radius: 24px;
	background: #FFF;
	box-shadow: 0px 24px 44px -20px rgba(194, 171, 229, 0.80);
}

.close-btn {
	position: absolute;
	top: 32px;
	right: 32px;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./icons/close-bg.svg) center / cover;
}

.text {
	margin-top: 40px;
	color: var(--38196-b, #38196B);
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.information {
	display: flex;
	width: 229px;
	height: 58px;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	width: 58px;
	height: 58px;
	flex-shrink: 0;
	border-radius: 17px;
	background: linear-gradient(135deg, #9AB0FF 0%, #EB73FF 100%);
	box-shadow: 0px 4px 4px 0px rgba(193, 107, 236, 0.24);
}

.msg {
	color: #000;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.buttons {
	margin-top: 10px;
	width: 210px;
	height: 51px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-end;
}

.buttons>* {
	width: 97px;
	height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #9EEBAF;
}

.block-btn {
	color: #FF1212;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.allow-btn {
	color: #0ABE31;

	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}